header {
  text-align: center;
  article {
    width: 80%;
    margin: 20px auto;
  }
  h1 {
    margin-bottom: 0.5%;
  }
  img {
    max-width: 500px;
    width: 100%;
    margin-top: 4%;
  }
  .main-nav {
    display: flex;
    margin-top: 10px;
    li {
      list-style: none;
    }
    li:first-child {
      margin-right: auto;
    }
    a {
      color: black;
      display: block;
      padding: 15px 30px;
      text-decoration: none;
      font-weight: 900;
      text-transform: uppercase;
    }
    .cta {
      border: 3px solid purple;
    }
    li:last-child {
      margin-left: auto;
    }
  }
}

.devices {
  text-align: center;
  padding: 20px 0;
  ul {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    @media only screen and (max-width: 550px) {
      grid-template-columns: repeat(1, auto);
    }
  }
  li {
    list-style: none;
    i {
      color: #afb4cc;
      font-size: 6rem;
    }
  }
}

.features {
  text-align: center;
  h2 {
    margin-bottom: 5%;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
    img {
      width: 25%;
    }
  }
}

.marketing-content_top {
  padding: 12% 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  .left-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .right-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    img {
      width: 80%;
      margin-left: 20%;
    }
  }
}

.marketing-content_bottom {
  padding: 12% 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  .right-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .left-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    img {
      width: 80%;
    }
  }
}

#cta-tryfree {
  background-image: url(../images/a_day_at_the_park_owg1.svg);
  background-position: center 200px;
  background-repeat: no-repeat;
  background-size: 50%;
  text-align: center;
  padding: 100px 0;
  margin-top: -50px;
}

#footer {
  margin-top: 30px;
  text-align: center;
  .footer-links {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
